/* General */

html{
  scroll-behavior: smooth !important;
}

ul, ol{
  padding: 0 !important;
  list-style-position: inside !important;
  list-style-type: none !important;
}

.nav-link:hover{
  color: $darkBlue !important;
}

.scroll-top{
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  background-color: dodgerblue;
  color: white;
}

/* Typography */

body{
  font-size: 0.9375rem !important;
}

.lead{
  font-size: 1.125rem !important;
}

.display-1{
  font-size: 2.375rem !important;
}

.display-3{
  font-size: 2rem !important;
}

#main-section h1, #om-skvulp h2, #information h2, #tilmeld h2, #partnere h2{
  font-size: 1.5rem;
}

#quote h5{
  font-size: 1rem;
}

#om-skvulp h3, footer h3{
  font-size: 1.375rem;
}

/* Digital Bannere */

.banner-tekst{
  width: 100% !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Parallax Image */

.parallax-img{
  background: url(../img/parallax-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  background-attachment: fixed;
  position: relative;
}

.overlay{
  min-height: inherit;
  background: #00000060;
}

.parallax-img h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}